*{
    margin: 0;
    padding: 0;
}
#MenuNav{
    position:fixed;
    width: 100%;
    top: 10px;
}
#ColPrinc,#ColSegun{
    background: rgb(218, 218, 218) ;
    margin-top: 100px;
}
#carouselExampleDark{
    margin: 15px 0 0 30px;
}
#Carousel img{
    width: 800px;
    height: 500px;
}
#Carousel p{
    color: rgb(255, 255, 255);
    background-color: rgba(5, 4, 4, 0.411);
}
#Carousel{
    text-align: center;
}
#caixa{
    height: 600px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    padding: 10px;
    background:rgba(55, 3, 122, 0.027) ;
}
#caixa a{
    text-decoration: none;
    color: black;
}
#caixa a:hover{
    color: rgb(52, 111, 223);
}
#navbarSupportedContent a{
    color: rgb(88, 88, 235);
    font-size: 20px;
}
#navbarSupportedContent a:hover{
    color: rgb(168, 43, 226);
}
#ColSegun h2{
    text-align: center;
    margin: 10px 0;
}
.edithover:hover{
    width: 20px;
    height: 20px;
}
.textfooter{
    font-family: 'Courgette', cursive;
    text-decoration: none
}
.carousel-indicators button{
    border-radius: 5px;
    width: 50px;
    height: 4px;
    border: 1px solid rgb(70, 43, 43);
    margin:5px ;
    background-color: rgb(255, 255, 255);
}
.carousel-indicators button:hover{
    width: 55px;
}