*{
    margin: 0;
    padding: 0;
}
#MenuNav{
    position:fixed;
    width: 100%;
    top: 10px;
    display: visible;
}
#containePRin{
    margin-top: 100px;
}
#carouselExampleDark{
    margin: 15px
}
#Carousel img{
    height: 95%;
}
#Carousel a{
    text-decoration: 0;
    font-size: 20px;
    color: aliceblue;
    text-shadow: 0 0 0.2em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0),0 0 0.2em rgb(0, 0, 0);
}
#Carousel{
    text-align: center;
}
#caixa{
    height: 700px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    padding: 10px;
    background:rgba(55, 3, 122, 0.027) ;
}
#caixa a{
    text-decoration: none;
    color: black;
}
#caixa a:hover{
    color: rgb(52, 111, 223);
}
#navbarSupportedContent a{
    color: rgb(88, 88, 235);
    font-size: 20px;
}
#navbarSupportedContent a:hover{
    color: rgb(168, 43, 226);
}
#ColSegun h2{
    text-align: center;
    margin: 10px 0;
}
.edithover:hover{
    width: 20px;
    height: 20px;
}
.textfooter{
    font-family: 'Courgette', cursive;
    text-decoration: none
}
.carousel-indicators button{
    border-radius: 5px;
    width: 50px;
    height: 4px;
    border: 1px solid rgb(70, 43, 43);
    margin:5px ;
    background-color: rgb(255, 255, 255);
}
.carousel-indicators button:hover{
    width: 55px;
}